<div class="link-wrapper-mobile" id="link-wrapper-mobile">
    <style scoped>
        #link-wrapper-mobile a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
        }

        #link-wrapper-mobile a:hover, a:focus {
        color: var(--clr-a-text-hvr);
        }
    </style>
    <nobr><a href="https://scholar.google.com/citations?user=P3dSamwAAAAJ&hl" rel="me"><i class="fa-solid fa-user-graduate fa-fw"></i> Google Scholar</a> <span style="margin-left: 8px;"></span></nobr>
    <nobr><a href="assets/CV_Liyan_Tang.pdf" rel="me"><i class="fa-solid fa-file-pdf fa-fw"></i> CV</a> <span style="margin-left: 8px;"></span></nobr>
    <nobr><a href="https://github.com/Liyan06" rel="me"><i class="fa-brands fa-github fa-fw"></i> GitHub</a> <span style="margin-left: 8px;"></span></nobr>
    <nobr><a href="https://www.tangliyan.com/blog/" rel="me"><i class="fa-solid fa-pen fa-fw"></i> Blog</a></nobr>
    <nobr><a href="https://twitter.com/LiyanTang4" rel="me"><i class="fa-brands fa-twitter fa-fw"></i> Twitter</a></nobr>
</div>