<div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
      }

      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }
    </style>
    <ul class="link">
      <li><a href="https://scholar.google.com/citations?user=P3dSamwAAAAJ&hl" rel="me"><i class="fa-solid fa-user-graduate"></i> Google Scholar</a></li>
      <li><a href="https://github.com/Liyan06" rel="me"><i class="fa-brands fa-github"></i> GitHub</a></li>
      <li><a href="https://www.tangliyan.com/blog/" rel="me"><i class="fa-solid fa-pen"></i> Blog</a></li>
    </ul>
  </div>
